       <form>
        <div class="form-group">
          <label for="api-name">API name</label>
          <input type="email" class="form-control" id="api-name" placeholder="name@example.com"> </input>
        </div>
        <div class="form-group">
          <label for="api-group">Group</label>
          <select class="form-control" id="api-group">
            {% for group in groups %}
            <option value="{{ group.id }}">{{ group.device_name }}</option>
            {% endfor %}
          </select>
        </div> 
        <div class="form-group">
          <label for="api-remarks">Example textarea</label>
          <textarea class="form-control" id="api-remarks" rows="3"></textarea>
        </div>
        
      </form>
      