 <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-4 fixed-start ms-2 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-6 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <span class="ms-5 font-weight-bold">Eswaraprasath</span>
  </a>
</div>
<hr class="horizontal dark mt-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="dashboard">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 640"
          width="100%"
          height="100%"
          fill="currentColor"
          class="text-dark"
          style="width:100%; height:100%; display:block;"
          >
          <path d="M400 416C497.2 416 576 337.2 576 240C576 142.8 497.2 64 400 64C302.8 64 224 142.8 224 240C224 258.7 226.9 276.8 232.3 293.7L71 455C66.5 459.5 64 465.6 64 472L64 552C64 565.3 74.7 576 88 576L168 576C181.3 576 192 565.3 192 552L192 512L232 512C245.3 512 256 501.3 256 488L256 448L296 448C302.4 448 308.5 445.5 313 441L346.3 407.7C363.2 413.1 381.3 416 400 416zM440 160C462.1 160 480 177.9 480 200C480 222.1 462.1 240 440 240C417.9 240 400 222.1 400 200C400 177.9 417.9 160 440 160z"/>
        </svg>
      </div>
      
      <span class="nav-link-text ms-1">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="devices">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-calendar-grid-58 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">API keys </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="device">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-credit-card text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Device</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/iotweb/pages/virtual-reality.html">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-app text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Virtual Reality</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/iotweb/pages/rtl.html">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-world-2 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">RTL</span>
    </a>
  </li>
  <li class="nav-item mt-3">
    <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/iotweb/pages/profile.html">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Profile</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/iotweb/pages/sign-in.html">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-single-copy-04 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Sign In</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/iotweb/pages/sign-up.html">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-collection text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Sign Up</span>
    </a>
  </li>
</ul>
</div>
<div class="sidenav-footer mx-3 ">
  <div class="card card-plain shadow-none" id="sidenavCard">
    <img class="w-50 mx-auto" src="/iotweb/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
    <div class="card-body text-center p-3 w-100 pt-0">
      <div class="docs-info">
        <h6 class="mb-0">Need help?</h6>
        <p class="text-xs font-weight-bold mb-0">Contact our Company</p>
      </div>
    </div>
  </div>
  
  
</div>
</aside>