{% extends "_master.html" %}
{% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="float-start"><h6>Device Table </h6></div>
          <div class="float-end">
            <button class="btn bg-gradient-success btn-to-add-device"> Device </button>
            <button class="btn btn-primary btn-to-add-api-key-group"> Add Group</button>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="row" id="device_id">
            {% for device in devices %}
            {% include 'devices/card.html'%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}