{% extends "_master.html" %}
{% block main %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="float-start"><h6>API key Table </h6></div>
          <div class="float-end">
            <button class="btn bg-gradient-success btn-to-add-api-key"> Add API keys</button>
            <button class="btn btn-primary btn-to-add-api-key-group"> Add Group</button>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> API key</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Device Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">last seen</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody id="row_of_table">
                {% for key in key %}
                {% include 'api_key/row.html' %}
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}